*{
    margin: 0;
    padding: 0%;
}

.main{
    height: 100vh;
    width: 100%;
    background-size: contain;
    font-family:'Times New Roman';
    background-color: rgb(16, 48, 58);
    
}


.navbar{
    width: 80%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 2%;
}


ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
    ;
}

ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    margin-top: -3;
    transition: .1s ease;
}

ul li a:hover{
    color: rgb(255, 0, 0);
}
.resume{
    color: white;
    font-size: larger;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 3%;
}

.btn--download{
    padding: 16px 32px;
    font-size: large;
    position: fixed;
    bottom: 27px; 
    left: calc(50% - 96px);
    animation: fade-down 0.5s 0.4s backwards;
    transition: 0.1s ease;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    border: rgb(15, 11, 0) 1px solid;
    border-radius: 35px;
    letter-spacing: 2px;
}
.btn--download:hover{
    color: red;
}
.fa-copyright{
    position: relative;
    bottom: 27px;
    font-size: 20px;
    margin-top: 90px;
    margin-left: 70%;
    padding-left: 20px;
    color: white;

}
